c 1 CONFIG_CONFIG_HTTP_TIMEOUT nonbool 300
c 2 CONFIG_CONFIG_SSL_X509_ORGANIZATION_NAME nonbool ""
c 3 CONFIG_CONFIG_SSL_SERVER_ONLY choice_bool
c 4 CONFIG_CONFIG_JAVA_HOME nonbool "c:\\Program Files\\Java\\jdk1.5.0_06"
c 5 CONFIG_CONFIG_SSL_TEST bool
c 6 CONFIG_CONFIG_SSL_PROT_LOW choice_bool
c 7 CONFIG_CONFIG_DOT_NET_FRAMEWORK_BASE nonbool "c:\\WINDOWS\\Microsoft.NET\\Framework\\v2.0.50727"
c 8 CONFIG_CONFIG_HTTP_DIRECTORIES bool
c 9 CONFIG_CONFIG_PERL_CORE nonbool "c:\\perl\\lib\\CORE"
c 10 CONFIG_CONFIG_VBNET_SAMPLES bool
c 11 CONFIG_CONFIG_CSHARP_SAMPLES bool
c 12 CONFIG_CONFIG_SSL_EXPIRY_TIME nonbool 24
c 13 CONFIG_CONFIG_PERL_BINDINGS bool
c 14 CONFIG_CONFIG_PLATFORM_WIN32 choice_bool
c 15 CONFIG_CONFIG_SSL_MAX_CERTS nonbool 3
c 16 CONFIG_CONFIG_AXTLSWRAP bool
c 17 CONFIG_CONFIG_EXTRA_CFLAGS_OPTIONS nonbool ""
c 18 CONFIG_CONFIG_BIGINT_BARRETT choice_bool
c 19 CONFIG_CONFIG_C_SAMPLES bool
c 20 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 21 CONFIG_CONFIG_BIGINT_CLASSICAL choice_bool
c 22 CONFIG_CONFIG_JAVA_SAMPLES bool
c 23 CONFIG_MUL_KARATSUBA_THRESH nonbool 20
c 24 CONFIG_CONFIG_DEBUG bool
c 25 CONFIG_CONFIG_VISUAL_STUDIO_10_0_BASE nonbool "c:\\Program Files\\Microsoft Visual Studio 10.0"
c 26 CONFIG_CONFIG_LUA_SAMPLES bool
c 27 CONFIG_CONFIG_SSL_PROT_MEDIUM choice_bool
c 28 CONFIG_CONFIG_AXHTTPD bool
c 29 CONFIG_CONFIG_SSL_GENERATE_X509_CERT bool
c 30 CONFIG_CONFIG_SSL_USE_PKCS12 bool
c 31 CONFIG_CONFIG_X509_MAX_CA_CERTS nonbool 150
c 32 CONFIG_CONFIG_VISUAL_STUDIO_8_0_BASE nonbool "c:\\Program Files\\Microsoft Visual Studio 8"
c 33 CONFIG_PREFIX nonbool "/usr/local"
c 34 CONFIG_CONFIG_VISUAL_STUDIO_8_0 choice_bool
c 35 CONFIG_CONFIG_SSL_X509_CERT_LOCATION nonbool ""
c 36 CONFIG_CONFIG_VBNET_BINDINGS bool
c 37 CONFIG_CONFIG_SSL_FULL_MODE choice_bool
c 38 CONFIG_CONFIG_BIGINT_MONTGOMERY choice_bool
c 39 CONFIG_CONFIG_HTTP_PORT nonbool 80
c 40 CONFIG_CONFIG_HTTP_HTTPS_PORT nonbool 443
c 41 CONFIG_CONFIG_SSL_CTX_MUTEXING bool
c 42 CONFIG_CONFIG_CSHARP_BINDINGS bool
c 43 CONFIG_CONFIG_HTTP_LUA_PREFIX nonbool "/usr"
c 44 CONFIG_CONFIG_SSL_SKELETON_MODE choice_bool
c 45 CONFIG_CONFIG_BIGINT_SQUARE bool
c 46 CONFIG_CONFIG_USE_DEV_URANDOM bool
c 47 CONFIG_CONFIG_PERL_SAMPLES bool
c 48 CONFIG_CONFIG_HTTP_BUILD_LUA bool
c 49 CONFIG_CONFIG_VISUAL_STUDIO_10_0 choice_bool
c 50 CONFIG_CONFIG_PERFORMANCE_TESTING bool
c 51 CONFIG_SQU_KARATSUBA_THRESH nonbool 40
c 52 CONFIG_CONFIG_EXTRA_LDFLAGS_OPTIONS nonbool ""
c 53 CONFIG_CONFIG_STRIP_UNWANTED_SECTIONS bool
c 54 CONFIG_CONFIG_SSL_ENABLE_CLIENT choice_bool
c 55 CONFIG_CONFIG_SSL_USE_DEFAULT_KEY bool
c 56 CONFIG_CONFIG_SSL_CERT_VERIFICATION choice_bool
c 57 CONFIG_CONFIG_HTTP_WEBROOT nonbool "../www"
c 58 CONFIG_CONFIG_HTTP_STATIC_BUILD bool
c 59 CONFIG_CONFIG_HTTP_SESSION_CACHE_SIZE nonbool 5
c 60 CONFIG_CONFIG_HTTP_CGI_EXTENSIONS nonbool ".lua,.lp,.php"
c 61 CONFIG_CONFIG_OPENSSL_COMPATIBLE bool
c 62 CONFIG_CONFIG_BIGINT_SLIDING_WINDOW bool
c 63 CONFIG_CONFIG_VISUAL_STUDIO_7_0 choice_bool
c 64 CONFIG_CONFIG_BIGINT_KARATSUBA bool
c 65 CONFIG_CONFIG_BIGINT_CRT bool
c 66 CONFIG_CONFIG_HTTP_USER nonbool "nobody"
c 67 CONFIG_CONFIG_LUA_CORE nonbool "/usr/local"
c 68 CONFIG_CONFIG_VISUAL_STUDIO_7_0_BASE nonbool "c:\\Program Files\\Microsoft Visual Studio .NET 2003"
c 69 CONFIG_CONFIG_HTTP_HAS_CGI bool
c 70 CONFIG_CONFIG_PERL_LIB nonbool "perl58.lib"
c 71 CONFIG_CONFIG_INTEGER_32BIT choice_bool
c 72 CONFIG_CONFIG_BINDINGS bool
c 73 CONFIG_CONFIG_HTTP_HAS_IPV6 bool
c 74 CONFIG_CONFIG_PLATFORM_CYGWIN choice_bool
c 75 CONFIG_CONFIG_SSL_PRIVATE_KEY_LOCATION nonbool ""
c 76 CONFIG_CONFIG_LUA_BINDINGS bool
c 77 CONFIG_CONFIG_HTTP_HAS_AUTHORIZATION bool
c 78 CONFIG_CONFIG_INTEGER_8BIT choice_bool
c 79 CONFIG_CONFIG_HTTP_ENABLE_LUA bool
c 80 CONFIG_CONFIG_JAVA_BINDINGS bool
c 81 CONFIG_CONFIG_SSL_X509_ORGANIZATION_UNIT_NAME nonbool ""
c 82 CONFIG_CONFIG_HTTP_ENABLE_DIFFERENT_USER bool
c 83 CONFIG_CONFIG_BIGINT_CHECK_ON bool
c 84 CONFIG_CONFIG_INTEGER_16BIT choice_bool
c 85 CONFIG_CONFIG_SAMPLES bool
c 86 CONFIG_CONFIG_SSL_X509_COMMON_NAME nonbool ""
c 87 CONFIG_CONFIG_PLATFORM_LINUX choice_bool
c 88 CONFIG_CONFIG_HTTP_IS_DAEMON bool
c 89 CONFIG_CONFIG_SSL_PROT_HIGH choice_bool
c 90 CONFIG_CONFIG_HTTP_VERBOSE bool
c 91 CONFIG_CONFIG_SSL_HAS_PEM bool
c 92 CONFIG_CONFIG_HTTP_CGI_LAUNCHER nonbool "/usr/bin/cgi"
c 93 CONFIG_CONFIG_SSL_PRIVATE_KEY_PASSWORD nonbool ""
c 94 CONFIG_CONFIG_WIN32_USE_CRYPTO_LIB bool
p cnf 94 190
-44 -91 0
-36 72 0
7 -36 0
-24 -53 0
-31 -44 0
-3 -44 0
-3 -37 0
17 0
-14 -88 0
2 -29 0
-74 -87 0
14 33 0
14 -25 0
28 -92 0
-50 56 0
-67 76 0
29 35 44 55 0
-30 37 -44 0
-28 59 0
-66 82 0
28 -77 0
-42 72 0
-5 37 0
-14 -63 68 0
9 -13 -14 0
-14 25 -49 0
-35 -55 0
-14 -73 0
72 -80 0
23 44 -64 0
-14 -46 0
12 44 0
-2 29 0
69 -79 0
28 -48 0
-78 -84 0
-29 81 0
4 -80 0
91 -93 0
-9 13 0
-23 64 0
-22 80 85 0
-25 49 0
-44 -78 0
-44 -71 0
-28 57 0
44 71 78 84 0
-30 -44 0
-44 -54 0
-14 -60 0
-14 -69 0
-44 -45 0
-22 80 0
-44 -62 0
14 -63 0
1 -28 0
-14 28 -79 0
-8 28 0
-44 -65 0
-18 -38 0
-26 85 0
55 -91 93 0
28 -66 0
28 -43 0
-14 -16 0
28 69 -79 0
-6 -44 0
-43 79 0
13 -70 0
14 -94 0
3 31 44 0
14 -32 0
-14 -43 0
-23 -44 0
28 -39 0
-14 -79 0
-19 85 0
-14 -76 0
7 -36 -42 0
-71 -84 0
3 37 44 54 56 0
14 -70 0
28 -73 0
28 -88 0
28 -59 0
14 -28 -69 92 0
28 -82 0
-3 -54 0
-44 -75 0
-71 -78 0
-14 34 49 63 0
-14 28 -69 0
14 -49 0
28 -90 0
-29 -35 0
28 -57 0
18 21 38 44 0
-60 69 0
15 0
67 -76 0
-14 -87 0
-4 80 0
-54 -56 0
-44 -55 0
-14 69 -79 0
44 -45 51 -64 0
-26 76 85 0
-10 36 0
-38 -44 0
-14 -24 -53 0
29 -86 0
-28 39 0
-44 -64 0
-44 -89 0
28 -69 0
13 -47 85 0
-32 34 0
-10 85 0
-3 -31 0
-13 72 0
-9 14 0
-7 36 42 0
14 -34 0
-35 -44 0
44 55 75 0
-27 -44 0
-37 -56 0
-5 -29 0
-44 -84 0
-11 42 0
14 -28 60 -69 0
28 -58 0
-6 -89 0
-14 -48 0
28 37 -90 0
-44 -51 0
28 -79 0
24 -44 -83 0
-18 -44 0
14 74 87 0
-26 76 0
-14 -74 0
52 0
-48 79 0
-27 -89 0
-37 -44 0
69 -92 0
-44 -56 0
-14 -82 0
-12 -44 0
-11 85 0
14 -28 43 -79 0
-18 -21 0
14 -68 0
29 -81 0
-29 86 0
13 -47 0
-37 -54 0
28 -60 0
-28 40 0
-21 -44 0
-11 42 85 0
-14 -33 0
-14 -53 0
6 27 44 89 0
-49 -63 0
-6 -27 0
-10 36 85 0
20 0
-55 -75 0
-1 28 0
37 -44 -91 0
63 -68 0
-21 -38 0
-14 32 -34 0
-14 -92 0
72 -76 0
28 -40 0
45 -51 0
-34 -63 0
-44 -83 0
-55 -93 0
-28 66 -82 0
-47 85 0
-34 -49 0
7 -42 0
-3 -56 0
-13 -14 70 0
-22 85 0
-51 64 0
